.main {
    display: flex;
    
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.main .table-block {
    width: auto;
    margin: 0;
    margin-right: 30px;
}

.main .chart-block {
    width: 20%;
    margin-top: 52px;
    display: flex;
    flex-direction: column;
}